{% extends "base.html" %}
{% block title %}关于{% endblock %}
{% block admin_options %}{% endblock %}
{% block content %}
<div class="container text-center">
    <br>
    <div class="jumbotron">
        <h2>关于此网站</h2>
        <hr>
        <h5>主办方</h5>
        <p>十一学校学生会</p>
        <h5>承办社团</h5>
        <p>寰桐阁科技联盟旗下 HCC网络技术社、水下机器人社团</p>
        <h5>开发人员</h5>
        <p>主管：Dominic Deng Boer，前端&后端：Richard Yang，UI：Kevin Jiang，摄影：John Mich</p>
        <h5>特别鸣谢</h5>
        <p>元维工作室，范爽老师，卓小丹老师，Greninja，和所有参与测试的同学</p>
        <h5>参考使用项目</h5>
        <p>
        <ul style="padding:0;margin:0;list-style:none;">
            <li>twitter-bootstrap4, MIT License</li>
            <li>Jquery, MIT License</li>
            <li>Jquery.Barrager.js, Github O.S.</li>
            <li>bootstrap-select, MIT License</li>
            <li>bootstrap-colorpicker, MIT License</li>
            <li>百度地图开放平台API, 版权百度所有</li>
        </ul>
        </p>
        <h6><span class="badge badge-info">寰桐阁科技联盟</span> x <span class="badge badge-info">十一学校学生会</span></h6>
        <h6>All Rights Reserved.</h6>
        <img style="height: 60px;" src="https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/bnds-min.png">
        <img style="height: 60px;" src="https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/htg-min.png">
        <img style="height: 60px;" src="https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/hcc.png">
        
    </div>
</div>
{% endblock %}