<!DOCTYPE html>
<html>

<head>
    <title>在线开学护照-{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="在线开学护照">
    <meta name="description" content="北京十一学校在线开学护照">
    <link href="https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/favicon.ico" rel="shortcut icon"
        type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/yangzhongtian001/jquery.barrager.js@master/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.14.0/css/all.min.css">
    <style>
        .navbar-nav {
            flex-direction: row;
        }

        .nav-link {
            padding-right: .5rem !important;
            padding-left: .5rem !important;
        }

        .ml-auto .dropdown-menu {
            left: auto !important;
            right: 0px;
        }
    </style>
    {% block style %}{% endblock %}
</head>

<body>
    <div id="navbar-container">
        <nav class="navbar navbar-expand-md {% block navbar_style %}bg-primary{% endblock %} navbar-dark">
            <a class="navbar-brand">{% block brand %}<i class="fas fa-passport"></i>&nbsp;在线开学手册{% endblock %}</a>
            <span class="navbar-text ml-auto d-sm-block d-md-none">戳此开始→</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/daka/"><i class="fas fa-map-marked-alt"></i>打卡</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery/"><i class="fas fa-images"></i>相册</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/danmu/"><i class="fas fa-comments"></i>弹幕</a>
                    </li>
                    {% block admin_options %}
                    <li id="danmu-admin" class="nav-item" style="{{ hide_admin }}">
                        <a class="nav-link" href="/danmu/super-admin/"><i class="fas fa-tools"></i>管理员入口</a>
                    </li>
                    <li id="danmu-stagemode" class="nav-item" style="{{ hide_admin }}">
                        <a id="enter-stagemode" class="nav-link" href="javascript: void(0)"><i
                                class="fas fa-expand-arrows-alt"></i>进入舞台模式</a>
                    </li>
                    {% endblock %}
                    <li id="danmu-logout" class="nav-item" style="display: none;">
                        <a class="nav-link" href="/danmu/logout/"><i class="fas fa-sign-out-alt"></i>退出</a>
                    </li>
                    <li class="nav-item" id="nav-about">
                        <a class="nav-link" href="/about/"><i class="fas fa-info-circle"></i>关于</a>
                    </li>
                </ul>
                {% block nav_append %}{% endblock %}
            </div>
        </nav>
    </div>
    {% block content %}{% endblock %}
    <textarea id="HCCLOGO" class="d-none">

     ####//    ___  __   ______   ______
   ##   //##   |\ \_\ \  |\  __\  |\  __\
  ##   //  ##  \ \  __ \ \ \ \_|_ \ \ \_|_
  ##       ##   \ \_\ \_\ \ \____\ \ \____\
   ##     ##     \|_|\|_|  \|____|  \|____|
     #####
    </textarea>
</body>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/sweetalert/2.1.2/sweetalert.min.js"></script>
<script>
    $(function () {
        console.info("%c" + $("#HCCLOGO").val(), "font-size:15px;color:#00AAD4;");
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
                }
            }
        })
    });
</script>
{% block script %}
{% endblock %}

</html>