{% extends "base.html" %}
{% block title %}打卡{% endblock %}
{% block admin_options %}{% endblock %}
{% block style %}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .container-liquid {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .anchorBL>a {
        display: none;
    }

    .BMap_cpyCtrl.BMap_noprint.anchorBL {
        display: none !important;
    }

    .BMap_scaleCtrl.BMap_noprint {
        left: 10px !important;
        bottom: 10px !important;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-liquid">
    <div style="width:100%;height:100%;border:#ccc solid 1px;font-size:12px" id="map"></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"
    src="http://api.map.baidu.com/getscript?v=2.0&ak=cc68dZ0gycxvEdxMOavBkQU3Zg2uxcHP"></script>
<script type="text/javascript" src="/static/js/daka.min.js"></script>
{% endblock %}