{% extends "base.html" %}
{% block title %}弹幕{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/css/barrager.min.css">
<style>
    html,
    body {
        height: 100%;
    }

    #send-danmu-form>select,
    input,
    button {
        margin: 0px 3px;
    }

    #send-danmu-form,
    #send-danmu-form>.form-control {
        display: inline-block !important;
        width: auto !important;
        white-space: nowrap !important;
    }

    #danmu {
        height: 100%;
        width: 100%;
        background-color: lightgray;
        position: relative;
    }

    #danmu-background {
        height: 100%;
        width: 100%;
        overflow: hidden;
        list-style: none;
        padding: 0px;
        position: relative;
        margin: 0px;
    }

    #danmu-background li {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0px !important;
    }

    #danmu-background li img {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 250px;
        object-fit: cover !important;
    }

    .avatar {
        width: 45px;
    }

    @keyframes muiscIconRotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid page-panel">
    <div class="row" id="display-panel" style="padding: 15px 20px;">
        <div id="danmu" class="rounded">
            <ul id="danmu-background" class="rounded">

            </ul>
        </div>
    </div>
    <div class="row" id="send-panel">
        <div class="mx-auto">
            <form id="send-danmu-form" class="form-inline text-center">
                <input type="text" class="form-control" id="danmu-text" style="width: 55% !important;">
                <a href="#" data-toggle="modal" data-target="#configModal"><i class="fa fa-plus-circle"></i></a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">云校登录</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong>提示</strong> 为了保证服务不被滥用，请您使用云校账户进行验证。希望大家多发正能量的内容，感谢配合。使用本服务即代表您已同意：<a href="/tos/"
                        style="font-weight:bold;">最终用户协议</a>
                </div>
                <div id="yunxiao-login-notice" class="alert alert-info" style="display: none;">
                    <strong>推荐</strong> 强建议点击“登录入口”以使用分流服务器登录，此入口可能会造成登录卡顿或失败！
                </div>
                <form id="yunxiao-login">
                    <div id="yunxiao-login-form" style="display: none;">
                        <div class="form-group">
                            <label for="color-celection">用户名</label>
                            <input type="text" class="form-control" id="yunxiao-username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="icon-celection">密码</label>
                            <input type="password" class="form-control" id="yunxiao-password" placeholder="Password">
                        </div>
                        <input type="hidden" id="yunxiao-captchacode"></input>
                        <div id="yunxiao-captchaarea" class="form-group" style="display: none;">
                            <label for="icon-celection">验证码</label>
                            <input type="text" class="form-control" id="yunxiao-captchavalue" placeholder="验证码">
                            <img id="yunxiao-captchadisplay" style="width:80px;height:40px;margin-top: 5px;"></img>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="mx-auto form-inline">
                            <button id="yunxiao-login-submit" style="display: none;" type="submit"
                                class="btn btn-primary">登录</button>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown">登录入口</button>
                                <div class="dropdown-menu" id="balanceServerList"></div>
                            </div>
                            &nbsp;
                            <a href="javascript: history.go(-1)" class="btn btn-secondary" style="color: white;"><i
                                    class="fa fa-undo"></i></a>
                        </div>
                    </div>
                </form>
                <a id="yunxiao-login-local" style="color: grey;font-size: 12px;" href="javascript: void(0)">工作人员登录入口</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="configModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">弹幕设置</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="color-celection">弹幕颜色</label>
                    <input type="text" class="form-control" id="color-celection" placeholder="#000000" readonly
                        style="background-color: white">
                </div>
                <div class="form-group">
                    <label for="icon-celection">弹幕图标</label>
                    <select class="form-control selectpicker" id="icon-celection" data-style="btn-primary">
                        <option data-content='<img src="/static/img/icons/boy.png" class="avatar"/> 绅士' value="0">绅士
                        </option>
                        <option data-content='<img src="/static/img/icons/girl.png" class="avatar"/> 淑女' value="1">淑女
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"
    src="https://cdn.staticfile.org/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript"
    src="https://cdn.staticfile.org/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script type="text/javascript"
    src="https://cdn.staticfile.org/bootstrap-select/1.13.18/js/i18n/defaults-zh_CN.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.barrager.min.js"></script>
<script type="text/javascript" src="/static/js/muisc_play.min.js"></script>
<script>
    var loggedIn = "{{ loggedin }}";
</script>
<script type="text/javascript" src="/static/js/danmu.min.js"></script>
{% endblock %}