{% extends "base.html" %}
{% block title %}弹幕{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/yangzhongtian001/jquery.barrager.js@master/dist/css/n-barrager.css">
<style>
    html,
    body {
        height: 100%;
    }

    #send-danmu-form>select,
    input,
    button {
        margin: 0px 3px;
    }

    #send-danmu-form,
    #send-danmu-form>.form-control {
        display: inline-block !important;
        width: auto !important;
        white-space: nowrap !important;
    }

    #danmu {
        height: 100%;
        width: 100%;
        background-color: lightgray;
        /* TODO: 更换页面背景为生产背景  */
    }

    .avatar {
        width: 45px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid page-panel">
    <div class="row" id="display-panel" style="padding: 15px 20px;">
        <div id="danmu" class="rounded"></div>
    </div>
    <div class="row" id="send-panel">
        <div class="mx-auto">
            <form id="send-danmu-form" class="form-inline text-center">
                <input type="text" class="form-control" id="danmu-text" style="width: 55% !important;">
                <a href="#" data-toggle="modal" data-target="#configModal">样式</a>
                <button type="submit" class="btn btn-primary">发送</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">云校登录</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong>提示</strong> 为了保证服务不被滥用，请您使用云校账户进行验证。希望大家多发正能量的内容，感谢配合。使用本服务即代表您已同意：<a href="/tos/"
                        style="font-weight:bold;">最终用户协议</a>
                </div>
                <div id="yunxiao-login-notice" class="alert alert-info" style="display: none;">
                    <strong>推荐</strong> 强建议点击“登录入口”以使用分流服务器登录，此入口可能会造成登录卡顿或失败！
                </div>
                <form id="yunxiao-login">
                    <div id="yunxiao-login-form" style="display: none;">
                        <div class="form-group">
                            <label for="color-celection">用户名</label>
                            <input type="text" class="form-control" id="yunxiao-username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="icon-celection">密码</label>
                            <input type="password" class="form-control" id="yunxiao-password" placeholder="Password">
                        </div>
                        <input type="hidden" id="yunxiao-captchacode"></input>
                        <div id="yunxiao-captchaarea" class="form-group" style="display: none;">
                            <label for="icon-celection">验证码</label>
                            <input type="text" class="form-control" id="yunxiao-captchavalue" placeholder="验证码">
                            <img id="yunxiao-captchadisplay" style="width:80px;height:40px;margin-top: 5px;"></img>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="mx-auto form-inline">
                            <button id="yunxiao-login-submit" style="display: none;" type="submit"
                                class="btn btn-primary">登录</button>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown">登录入口</button>
                                <div class="dropdown-menu" id="balanceServerList"></div>
                            </div>
                            &nbsp;
                            <a href="/daka/" class="btn btn-secondary" style="color: white;">返回打卡页</a>
                        </div>
                    </div>
                </form>
                <a id="yunxiao-login-local" style="color: grey;font-size: 12px;" href="javascript: void(0)">内部登录入口</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="configModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">弹幕设置</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="color-celection">弹幕颜色</label>
                    <input type="text" class="form-control" id="color-celection" placeholder="#000000" readonly
                        style="background-color: white">
                </div>
                <div class="form-group">
                    <label for="icon-celection">弹幕图标</label>
                    <select class="form-control selectpicker" id="icon-celection" data-style="btn-primary">
                        <option
                            data-content='<img src="https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/boy.png" class="avatar"/> 绅士'
                            value="0">绅士</option>
                        <option
                            data-content='<img src="https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/girl.png" class="avatar"/> 淑女'
                            value="1">淑女</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.staticfile.org/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js"></script>
<script src="https://cdn.staticfile.org/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script src="https://cdn.staticfile.org/bootstrap-select/1.13.18/js/i18n/defaults-zh_CN.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/gh/yangzhongtian001/jquery.barrager.js@master/dist/js/jquery.barrager.slim.js"></script>
<script>
    $(function () {
        var lockDown = false;
        var balanceServer = [
            "http://mc.roselle.vip:26170/",
            "http://server3.guidelogin.hcc.io/index.php",
            "http://47.98.170.221/",
            "http://212.64.89.107/",
            "http://katyushaa.asuscomm.com:61080/"
        ];
        var submitButton = $("#send-danmu-form").children("button[type='submit']");
        var iconTranslate = ["https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/boy.png", "https://cdn.jsdelivr.net/gh/yangzhongtian001/imglib@master/girl.png"];
        var fitScreen = function (stagemode = false) {
            if (stagemode) var send_panel_height = 0, container_height = 0;
            else var send_panel_height = $("#send-panel").height(), container_height = $("#navbar-container").height();
            var panelHight = $("body").height() - container_height;
            $(".page-panel").height(panelHight);
            $("#display-panel").height(panelHight - send_panel_height - 40);
        };
        var loggedIn = "{{ loggedin }}";
        var fullData = [];
        var fullDatacnt = 0;
        var fullDatalayout = function () {
            var interv = window.setInterval(function () {
                if (fullData.length > 0) {
                    if (fullDatacnt >= fullData.length) {
                        clearInterval(interv);
                        fullDatacnt = 0;
                        window.setTimeout(fullDatalayout, 1000);
                    }
                    $("body").barrager(fullData[fullDatacnt++]);
                }
            }, 500);
        };
        var loadData = function () {
            $.get("/danmu/get/", function (r) {
                fullData = [];
                r.forEach(e => {
                    fullData.push({
                        img: iconTranslate[e.icon],
                        href: "#",
                        close: false,
                        info: e.text,
                        color: e.color
                    })
                });
            })
        };
        var triggerLoggedin = function () {
            $("#danmu-logout").show();
            loadData();
            window.setInterval(loadData, 8000);
        };
        var loadBalanceServer = function () {
            var callback = location.protocol + "//" + location.host + "/danmu/external_login/?param=";
            var service_name = "在线开学手册";
            var ext_url = "?service_name=" + service_name + "&callback=" + callback;
            balanceServer.forEach((e,i) => {
                $("#balanceServerList").append(`<a class="dropdown-item" href="${e + ext_url}">服务器${i+1}</a>`)
            })
        };
        var enterStageMode = function (e) {
            $("#navbar-container").hide();
            $("#send-panel").hide();
            // TODO: 更换页面背景为舞台背景
            fitScreen(true);
        }
        $(window).resize(fitScreen);
        $("#send-danmu-form").submit(function (e) {
            e.preventDefault();
            var danmu_text = $("#danmu-text").val();
            var danmu_color = $("#color-celection").val();
            var danmu_icon = Number($("#icon-celection").val());
            if (danmu_text == "" || lockDown || danmu_text.length > 40) {
                swal("提示", "发送失败：内容为空或长度超过限制", "error");
                return;
            }
            var danmu_config = {
                img: iconTranslate[danmu_icon],
                info: "",
                href: "#",
                close: false,
                color: danmu_color,
                old_ie_color: "#ffffff"
            };
            $("#danmu-text").val("");
            $.post("/danmu/send/", { text: danmu_text, icon: danmu_icon, color: danmu_color }, function (r) {
                if (r.status == 1) {
                    danmu_config.info = r.text;
                    $("body").barrager(danmu_config);
                    lockDown = true;
                    submitButton.attr("disabled", true);
                    var locktime = 0//3000;
                    if (r.filter) {
                        locktime = 10000;
                    }
                    setTimeout(function () {
                        lockDown = false;
                        submitButton.attr("disabled", false);
                    }, locktime)
                }
                else if (r.status == -2) {
                    swal("提示", "您的账号已被封禁", "error");
                }
                else {
                    swal("提示", "发送未知错误 状态码" + r.status, "error");
                }
            })
        });
        $("#yunxiao-login").submit(function (e) {
            e.preventDefault();
            var username = $("#yunxiao-username").val();
            var password = $("#yunxiao-password").val();
            var captchacode = $("#yunxiao-captchacode").val();
            var captchavalue = $("#yunxiao-captchavalue").val();
            if (username == "" || password == "") {
                swal("登录失败", "请填写所有内容", "error");
                return;
            }
            $.post("/danmu/login/", { username: username, password: password, captchacode: captchacode, captchavalue: captchavalue }, function (r) {
                if (r.status == 0) {
                    $("#loginModal").modal("hide");
                    if (r.is_admin == 1) {
                        $("#danmu-admin").show();
                        $("#danmu-stagemode").show();
                    }
                    triggerLoggedin();
                }
                else if (r.status == -1) {
                    swal("登录失败", "用户名或密码错误", "error");
                }
                else if (r.status == -2) {
                    $("#yunxiao-captchacode").val(r.captchacode);
                    $("#yunxiao-captchaarea").show();
                    $("#yunxiao-captchadisplay").attr("src", "https://account.yunxiao.com/captcha/" + r.captchacode + "?t=" + new Date().getMilliseconds())
                    swal("登录失败", "用户名或密码错误", "error");
                }
                else if (r.status == -3) {
                    swal("登录失败", "账号已被冻结请10分钟后再试", "error");
                }
                else if (r.status == 3) {
                    swal("登录失败", "验证码已过期请刷新页面", "error");
                }
                else {
                    swal("登录失败", "服务器出现了一个未知错误", "error");
                }
            });
        })
        $("#color-celection").colorpicker({
            allowEmpty: false,
            color: "#ffffff",
            showInput: false,
            showInitial: true,
            showPalette: true,
            showSelectionPalette: true,
            showAlpha: false,
            maxPaletteSize: 7,
            preferredFormat: "hex"
        });
        $("#yunxiao-login-local").click(function () {
            $("#yunxiao-login-form").toggle();
            $("#yunxiao-login-submit").toggle();
            $("#yunxiao-login-notice").toggle();
        });
        $("#color-celection").change(function (e) {
            $("#color-celection").css("color", e.value.toString());
        });
        $("#enter-stagemode").click(enterStageMode);
        $(document).ready(function () {
            fitScreen();
            $(".selectpicker").selectpicker({
                showIcon: true,
            });
            loadBalanceServer();
            fullDatalayout();
            if (loggedIn == "true") {
                triggerLoggedin();
            }
            else {
                $("#loginModal").modal({
                    backdrop: "static",
                    keyboard: false
                });
            }
        });
    })
</script>
{% endblock %}