{% extends "base.html" %}
{% block title %}祝福{% endblock %}
{% block admin_options %}{% endblock %}
{% block content %}
<div class="container text-center">
    <br>
    <div class="jumbotron">
        <h2>开学祝福</h2>
        <h5>请选择年级进入</h5>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary v-bind" style="color: white;">常规初一(张潇文)</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary v-bind" style="color: white;">常规初一(陈纹珊)</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary v-bind" style="color: white;">直升初一</a>
                <a class="btn btn-primary v-bind" style="color: white;">直升初二</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary v-bind" style="color: white;">常规初二</a>
                <a class="btn btn-primary v-bind" style="color: white;">初三</a>
                <a class="btn btn-primary v-bind" style="color: white;">直升高一</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary v-bind" style="color: white;">高一</a>
                <a class="btn btn-primary v-bind" style="color: white;">高二</a>
                <a class="btn btn-primary v-bind" style="color: white;">高三</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary v-bind" style="color: white;">国际部高一</a>
                <a class="btn btn-primary v-bind" style="color: white;">国际部高二</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a class="btn btn-primary v-bind" style="color: white;">国际部高三</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/gallery.min.js"></script>
{% endblock %}
