{% extends "base.html" %}
{% block title %}用户协议{% endblock %}
{% block admin_options %}{% endblock %}
{% block content %}
<div class="container">
    <br>
    <div class="jumbotron">
        <h2 class="text-center">最终用户协议</h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ol>
                    <li>
                        <h5>总则</h5>
                        <ol>
                            <li>寰桐阁代表寰桐阁技术联盟社团及旗下所有子社团或BNDSE社区。</li>
                            <li>用户可以使用寰桐阁的各种平台和产品的服务。<b>当用户使用寰桐阁的服务时，用户的行为被视为他们同意寰桐阁的服务条款以及寰桐阁在服务中发布的各种声明。</b></li>
                            <li>寰桐阁可能会随时更新寰桐阁用户协议以及各个产品的服务条款和公告，恕不另行通知。使用相关服务时，应注意并遵守适用于它们的相关条款。</li>
                        </ol>
                    </li>
                    <li>
                        <h5>帐户注册及使用</h5>
                        使用某些HTG产品或服务时，您需要注册一个帐户。注册和使用帐户时，应遵守以下要求：
                        <ol>
                            <li>用户成功注册后，寰桐阁将为每个用户提供一个用户帐户，用户可以独立设置帐户密码，保存好用户帐号和密码是用户的责任。用户应对使用其用户帐户执行的所有活动和事件承担法律责任。
                            </li>
                            <li>寰桐阁帐户的所有权（即寰桐阁用户ID）属于寰桐阁联盟，用户根据注册页面指南填写信息，阅读并同意此协议，并完成所有注册过程以获取寰桐阁帐户并成为用户。用户应提供及时，详尽和准确的个人信息，并不断更新注册信息，以满足及时，详尽和准确的要求。所有最初输入的信息都将被记录为注册信息。对于因不正确或不及时的注册信息而引起的任何问题，寰桐阁将不承担任何责任。您可以通过帐户设置页面查询和更正您的信息。用户应使用真实身份信息对注册帐户进行身份验证，并且帐户名，头像和个人资料等注册信息中不得出现非法和不良信息。<b>经过寰桐阁审查后，如果存在上述情况，寰桐阁将不接受注册并注销该账户。</b>
                            </li>
                            <li><b>寰桐阁有权索取用户真实姓名，学号及其他个人信息，用户应对自己所有在寰桐阁及旗下网站中的操作负法律责任。</b></li>
                        </ol>
                    </li>
                    <li>
                        <h5>使用准则</h5>
                        使用HTG的服务时，用户必须遵守中华人民共和国的相关法律法规，例如《网络安全法》。用户应同意不会将本服务用于任何非法或不正当活动，包括但不限于以下操作：
                        <ol>
                            <li style="color: red;">
                                <b>冒用，破解他人账户发布任何信息；在消息中未经许可使用他人姓名（缩写）及昵称；使用寰桐阁及旗下所有平台对他人进行人身攻击及任何不良行为；</b></li>
                            <li>
                                上载，显示，发布，传播或传输包含以下内容之一的信息：
                                <ul type="circle">
                                    <li>反对宪法规定的基本准则；</li>
                                    <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏民族团结；</li>
                                    <li>损害国家荣誉和利益；</li>
                                    <li>煽动种族仇恨，种族歧视和破坏民族团结；</li>
                                    <li>破坏国家宗教政策，煽动邪教和封建迷信；</li>
                                    <li>散布谣言，扰乱社会秩序，破坏社会稳定；</li>
                                    <li>散布淫秽，色情，赌博，暴力，凶杀，恐怖或煽动性信息；</li>
                                    <li>侮辱或诽谤他人并侵犯其合法权利；</li>
                                    <li>包含虚假，有害，恐吓，侵犯他人隐私，骚扰，侮辱，粗俗，低俗，淫秽或其他在道德上令人反感的内容；</li>
                                    <li>包含受中国法律，法规，规章，规定和任何具有法律效力的规范限制或禁止的其他内容；</li>
                                </ul>
                            </li>
                            <li>将网络服务系统用于任何非法目的； </li>
                            <li>
                                使用寰桐阁的服务从事以下活动：
                                <ul type="circle">
                                    <li>未经许可进入计算机信息网络或使用计算机信息网络资源；</li>
                                    <li>未经许可，删除，修改或添加计算机信息网络功能；</li>
                                    <li>未经许可，删除，修改或添加在计算机信息网络中存储，处理或传输的数据和应用程序；</li>
                                    <li>故意制作和传播破坏性程序，例如计算机病毒；</li>
                                    <li>其他危害计算机信息网络安全的行为。</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h5>免责声明</h5>
                        <ul type="circle">
                            <li style="color: red;">
                                <b>对于用户使用寰桐阁及旗下平台造成的纠纷及违反用户协议造成的个人损失寰桐阁将不承担责任，对于情节严重者寰桐阁将联系相关司法单位进行调解。</b></li>
                            <li style="color: red;"><b>对于违反用户协议的操作寰桐阁有权终止、回溯，并限制该用户继续使用此平台。</b></li>
                        </ul>
                    </li>
                </ol>
                <div class="text-right">寰桐阁技术联盟<br>HCC Computer Community</div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <h6 class="text-center"><span class="badge badge-info">寰桐阁科技联盟</span> x <span
                class="badge badge-info">十一学校学生会</span></h6>
        <h6 class="text-center">All Rights Reserved.</h6>
    </div>
</div>
{% endblock %}